.auth-options{
    .title-container{
        background-image: url(../assets/images/auth-select-page-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}