.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--clr-accent-50);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.appointment-types {
  li {
    &:first-child {
      margin-top: 1.5em;
    }
    &:not(&:last-child) {
      margin-bottom: 1.5em;
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }
}

.book-radio {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  //   padding: 1.2em 1.4em;
  input[type="radio"] {
    visibility: hidden;
    position: absolute;

    + label {
      padding: 1.1em 1.4em;
      //   color: red;
      display: flex;
      align-items: center;
      transition: all 320ms ease-in-out;
      cursor: pointer;
      .fake-btn {
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-right: 0.7em;
        background-color: var(--clr-accent-600);
        border: 5px solid white;
        outline: 3px solid var(--clr-accent-600);
        transition: all 320ms ease-in-out;
      }
    }

    &:checked {
      + label {
        // color: blueviolet;
        background: #c7f38e;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        color: #208d05;
        .fake-btn {
          //   background-color: blueviolet;
          background-color: #208d05;
          border: 5px solid #c7f38e;
          outline: 3px solid #208d05;
        }
      }
    }
  }
}