@use "../_abstracts/colors";
@use "../_abstracts/typography";

.poly-shadow {
  // filter: drop-shadow(3px 8px 10px rgba(50, 50, 0, 0.5));
  filter: drop-shadow(3px 8px 10px rgba(107, 107, 106, 0.5));
  position: relative;
  height: 360px;
  flex-basis: calc(118% / 5);
  margin-right: -5%;
  &:nth-child(odd) {
    .polygon {
      // background-color: colors.$primaryColor;
      background-color: var(--primary-color);
    }
  }

  &:nth-child(even) {
    .polygon {
      // background-color: colors.$secondaryColor;
    background-color: var(--secondary-color);
    }
  }
  &:not(:last-child) {
    .polygon {
      clip-path: polygon(80% 0, 93% 55%, 82% 100%, 1% 100%, 0 0);
    }
  }
  &:nth-of-type(1) {
    z-index: 5;
    // flex-basis: calc(calc(130% / 5) - 2%);

    .polygon-card-alt {
      .poly-footer {
        padding-right: 5em;
      }
    }
  }
  &:nth-of-type(2) {
    z-index: 4;
  }
  &:nth-of-type(3) {
    z-index: 3;
  }
  &:nth-of-type(4) {
    z-index: 2;
  }
  &:nth-of-type(5) {
    z-index: 1;
  }
  &:not(:first-child) {
    .polygon-card {
      .poly-footer {
        text-align: center;
      }
    }

    .polygon-card-alt {
      .poly-footer {
        // padding: 0.8em 3em 0.8em 1.7em;
        padding-left: 4.3em;
      }

      // .title {
      //   font-style: normal;
      //   font-weight: 600;
      //   font-size: 20px;
      //   line-height: 24px;
      //   color: #191a1b;
      // }

      // p {
      //   font-family: typography.$bodyFontFamily;
      //   font-style: normal;
      //   font-weight: 400;
      //   font-size: 16px;
      //   line-height: 24px;
      //   color: #191a1b;
      // }
    }
  }

  &:last-child {
    .polygon {
      border-radius: 0 15px 15px 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//
.polygon {
  position: relative;
  height: 360px;
  flex-basis: calc(140% / 5);
  margin-right: -8%;
  border-radius: 15px;
  overflow: hidden;
  .polygon-card {
    display: block;
  }
  .polygon-card-alt {
    display: none;
    opacity: 0;
  }
  &:hover {
    .polygon-card {
      display: none;
    }
    .polygon-card-alt {
      display: block;
      opacity: 1;
      animation: fadeIn 200ms;
      -webkit-animation: fadeIn 200ms;
      -moz-animation: fadeIn 200ms;
      -o-animation: fadeIn 200ms;
      -ms-animation: fadeIn 200ms;
    }
  }

  &:nth-of-type(1) {
    z-index: 5;
    flex-basis: calc(calc(130% / 5) - 2%);
    .poly-footer {
      // background-color: #ffffff;
      // padding: 0.8em 0.9em;
    }
    // box-shadow: 0 1rem 3rem red !important;
  }

  &:nth-of-type(2) {
    z-index: 4;
  }

  &:nth-of-type(3) {
    z-index: 3;
  }

  &:nth-of-type(4) {
    z-index: 2;
  }

  &:nth-of-type(5) {
    z-index: 1;
    flex-basis: calc(calc(130% / 5) - 2%);
  }

  &:nth-child(odd) {
    // background-color: colors.$primaryColor;
    background-color: var(--primary-color);
  }

  &:nth-child(even) {
    // background-color: colors.$secondaryColor;
    background-color: var(--secondary-color);
  }
  &:first-child {
    // background-color: #000000;
    border-radius: 15px 0 0 15px;
    .polygon-card,
    .polygon-card-alt {
      border-radius: 15px 0 0 15px;
    }
  }
  &:not(:last-child) {
    clip-path: polygon(80% 0, 100% 49%, 82% 100%, 1% 100%, 0 0);
  }

  &:not(:first-child) {
    .poly-footer {
      text-align: center;
    }
  }

  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
}

.polygon-card,
.polygon-card-alt {
  height: 100%;
}

.polygon-card {
  .poly-footer {
    padding: 0.8em 2em;
  }
}

.polygon-card-alt {
  // box-shadow: 5px 3px 3px red;
  .featured-image {
    img {
      width: 100%;
    }
  }
  .poly-footer {
    padding: 0.8em 3em 0.8em 1.7em;
    // padding-right: 3em;
    .title {
      margin-bottom: 0.5em;
    }

    p {
      font-weight: 400;
      // margin-bottom: 1em;
      font-size: 1rem;
      // font-size: 16px;
      font-weight: lighter;
    }
    .link {
      font-size: 0.9rem;
      display: inline-block;
      &::after {
        content: "";
        display: block;
        background-color: #252525;
        height: 3px;
        margin-left: 0;
      }
    }

    //
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #191a1b;
    text-transform: capitalize;
  }

  p {
    // font-family: typography.$bodyFontFamily;
    font-family: var(--ff-body);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #191a1b;
  }
}
.poly-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .poly-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .poly-footer {
    background-color: #ffffff;
    // padding: 0.8em 1.7em;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #191a1b;
  }
}
