.calendar-header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendarDiv {
    display: none;
    text-align: center;
  }
  .calendarDiv table {
    width: 100%;
  }
  .calendarDiv table tbody th, .calendarDiv table tbody td {
    height: 60px;
    width: 60px;
  }
  
  #calendarTable_1 {
    display: block;
  }