@use "../_partials/mixins";
.toolbar {
  .navbar-brand {
    display: block;
    max-width: 124px;
  }

  @include mixins.minmq(50em) {
    // padding-top: 1.2em;
    // padding-bottom: 1.2em;
  }
}

.top-bar {
  a {
    &:hover {
      color: var(--clr-accent-500);
      border-radius: var(--size-250);
    }
  }

  .dropdown-menu a {
    color: inherit;
    &:hover{
      border-radius: var(--size-250) !important;
    }
    &:last-child {
      border: 1px solid #ea526f;
      color: #ea526f;
      &:hover{
        background-color: #ea526f !important;
        color: #FFFFFF;
      }
    }
  }
}
