<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HAC | Bank transfer</title>
        <link rel="stylesheet" href="../../assets/stylesheets/bootstrap-5.2.3/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../assets/stylesheets/main.css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"
            integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </head>
    <body>
        <div class="container">
            <div class="payment-card shadow-sm mt-5">
                <div class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom border-accent-50">
                    <a href="../../" class="logo">
                        <img src="../../assets/images/brand-logo.svg" alt="" class="img-fluid">
                    </a>
                    <div>
                        <button type="button" aria-label="remove item table item" onClick="window.history.back()">
                            <img src="../../assets/images/icons/times-danger-box.svg" alt="" class="img-fluid">
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between py-2 px-3 fw-semi-bold">
                    <p class="mb-0">Price</p>
                    <p class="mb-0 fs-300">₦368,400.00</p>
                </div>
                <h1 class="d-flex align-items-center px-3 py-3 mb-0">
                    <button class="btn btn-sm ps-0" onClick="window.history.back()">
                        <img src="../../assets/images/icons/arrow-left-white.svg" alt="" class="img-fluid">
                    </button>
                    <span>Bank Transfer</span>
                </h1>
                <div class=" py-4">
                    <ul role="list" aria-label="bank account information" class="list-style-none line-height-400 border-bottom border-accent-50 px-3 pb-3">
                        <li>
                            <span class="fw-semibold">Bank Name:</span>
                            &nbsp;
                            <span class="fs-50">First Bank</span>
                        </li>
                        <li>
                            <span class="fw-semibold">Account Number:</span>
                            &nbsp;
                            <span class="fs-50">098124566778</span>
                        </li>
                        <li>
                            <span class="fw-semibold">Account Name:</span>
                            &nbsp;
                            <span class="fs-50">Mainland Clinic Inc</span>
                        </li>
                    </ul>
                    <form action="" class="px-3">
                        <div class="row pb-3">
                            <div class="col-6">
                                <label for="FirstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="FirstName">
                            </div>
                            <div class="col-6">
                                <label for="LastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="LastName">
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="button submit-btn">Pay now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            // credit card
                var cleaveCreditCard = new Cleave('#CardNumber', {
                    creditCard: true
                });

                // document.querySelector('.button-credit-card').addEventListener('click', function() {
                //     alert(cleaveCreditCard.getRawValue());
                // });

                // date
                var cleaveDate = new Cleave('.input-date', {
                    date: true,
                    datePattern: ['m', 'Y']
                });
        </script>
    </body>
</html>
